.carousel-container {
  width: 100%;
  max-width: 650px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  position: relative;
  overflow: hidden;
}

.image-wrapper {
  display: flex;
  justify-content: center; /* Centers image wrapper */
  align-items: center; /* Ensures image is vertically centered */
}

@media (min-width: 992px) {
  .carousel-container {
    margin-left: 10px;
  }
}
