
  .navbar {
    background-color: #333;
    color: rgb(255, 255, 255);
    padding: 10px;
  }
  .navbar-nav .nav-link {
    color: rgb(201, 201, 201);
    font-size: 16px;
  }
  
  .navbar-nav .nav-link.active {
    color: #ffc107;
  } 

  .project-title {
    font-size: 1.2rem; /* Balanced font size */
    font-weight: 600; /* Slightly bold for emphasis */
    color: #ffffff; /* White color for contrast on black background */
    font-family: 'Roboto', sans-serif; /* Clean, modern font */
    text-transform: capitalize; /* Elegant capitalization */
    letter-spacing: 1px; /* Subtle letter spacing */
    margin-left: 10px; /* Space between logo and text */
    cursor: pointer; /* Interactive cursor */
    border-bottom: 2px solid transparent; /* Minimal underline effect */
    transition: color 0.3s ease, border-color 0.3s ease; /* Smooth hover effect */
  }
  
  .project-title:hover {
    border-color: #ffffff; /* Match border with hover color */
  }
  
  